@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* font-family: "Quicksand"; */

/* Apply styles to the navigation bar */
nav {
  background-color: black; /* Background color */
  font-family: "Quicksand"; /* Font family */
  color: white; /* Text color */
  padding: 10px; /* Add padding to the navbar */
  display: flex; /* Make the children of the navbar display in a row */
  justify-content: space-between; /* Align items at the start and end of the navbar */
  align-items: center; /* Center items vertically */
}

/* Style the h1 with class "Navbar" */
h1.Navbar {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Font size */
}

/* Style the links */
.links {
  display: flex; /* Make the links display in a row */
}

.links a {
  color: white; /* Text color for links */
  text-decoration: none; /* Remove underlines from links */
  margin-right: 15px; /* Add spacing between links */
}

.links a:hover {
  text-decoration: underline; /* Underline links on hover */
}
